/.cproject
/.project
/.settings/
/autom4te.cache/
/INSTALL
/stamp-h1
Makefile
/config.status
/config.log
/config.h
/config/
*~
/build*/
GIT_REVISION
SVN_REVISION
libtool
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
app.info
coverage_report
tags
/project
/storm-frontend.spec
/src/frontend/frontend_version.h
/src/autogen/config.h
/src/frontend/srmv2C.cc
/src/frontend/srmv2Server.cc
/src/autogen/stamp-h1
do-configure.sh
aclocal.m4
configure
/aux/*
Makefile.in
/m4/*
!/m4/boost.m4
!/m4/cgsi-gsoap.m4
!/m4/ltsugar.m4
!/m4/mysql.m4
!/m4/wsdl2h.m4
!/m4/xmlrpc-c.m4
src/autogen