/.cproject
/.project
/.settings/
/autom4te.cache/
/src/autogen/
/INSTALL
/stamp-h1
Makefile
/config.status
/config.log
/config.h
/config/
/config.h.in
*~
/build*/
m4
GIT_REVISION
SVN_REVISION
libtool
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
app.info
coverage_report
/project
/storm-frontend.spec
/rpm
/aux
/src/frontend/frontend_version.h
