/.cproject
/.project
/.settings/
/Makefile.in
/aclocal.m4
/autom4te.cache/
/configure
/etc/Makefile.in
/etc/init.d/Makefile.in
/etc/logrotate/Makefile.in
/etc/sysconfig/Makefile.in
/monitoring.log
/src/Makefile.in
/src/autogen/
/src/db/Makefile.in
/src/frontend/Makefile.in
/wsdl/Makefile.in
/INSTALL
