[Unit]
Description=StoRM Frontend service

[Service]
WorkingDirectory=/etc/storm/frontend-server
EnvironmentFile=-/etc/sysconfig/storm-frontend-server
User=storm
Type=forking
ExecStart=/usr/sbin/storm-frontend-server -c ${CONFIGURATION_FILE}
KillMode=process

[Install]
WantedBy=multi-user.target
